html, body {
    margin: 0;
    padding: 0;
    background: #121229;
}

body {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding-top: 45px;
}

canvas {
    box-shadow: 0 0 85px rgb(47, 47, 107);
    border: 3px dotted #FFF;
    box-sizing: border-box;
}  

h1 {
    color: rgb(255, 255, 255);
    text-align:center;
    text-shadow: 
    0 0 7px rgb(210, 210, 210),
    0 0 10px rgb(192, 241, 255),
    0 0 21px rgb(192, 241, 255),
    0 0 42px rgb(192, 241, 255),
    0 0 82px rgb(192, 241, 255),
    0 0 55px rgb(192, 241, 255),
    0 0 70px rgb(192, 241, 255),
    0 0 80px rgb(192, 241, 255);
  
 
    
}
